// SCSS Awesomeness

/* -------------------------------------------
    ____           __          __
   /  _/___  _____/ /_  ______/ /__  _____
   / // __ \/ ___/ / / / / __  / _ \/ ___/
 _/ // / / / /__/ / /_/ / /_/ /  __(__  )
/___/_/ /_/\___/_/\__,_/\__,_/\___/____/

------------------------------------------- */
@use "sass:math";

// General
@import 'inc/css-vars';
@import 'inc/vars';
@import 'inc/mixins';
@import 'inc/reset';
@import 'inc/fonts';
@import 'inc/animations';

// lib
@import '../lib/mmenu/css/mmenu';
@import '../lib/slick/scss/slick-theme';
@import '../lib/slick/scss/slick';
@import '../lib/lightgallery/css/lightgallery';
@import '../lib/lightslider/css/lightslider';
@import '../lib/tooltipster/scss/tooltipster.bundle.min';
@import '../lib/tooltipster/scss/tooltipster-dark';
@import '../lib/tooltipster/scss/tooltipster-light';
@import '../lib/chosen/scss/chosen.min';
@import '../lib/chosen/scss/chosen-material-theme';
@import '../lib/flatpickr/flatpickr.min';
@import '../modules/gravity-forms/scss/gf';

/**
 * Layout
 * Template layout include
*/
@import 'layout/global';
@import 'layout/nav-mobile';

@import 'layout/header';

// Modules
@import '../modules/advanced-video-banners/scss/avb';
@import '../modules/flexible-content/scss/flexible-content';

@import 'layout/footer';
@import 'inc/themes';

.free-primary{
  padding: 20px 10px; background: $primary; color: white!important; border-radius: 16px
}

// WOO SINGLE PRODUCT STYLING
.product-type-simple{
  .price{
    font-size: 26px; font-weight: 900; font-family: $primaryFont; margin: 30px 0;
  }

  form{
    flex-direction: row!important; align-items: center!important;

    .quantity{
      input{width: 60px; background: #eef0fb; font-size: 16px; color: var(--fl1-text); padding: 10px; border: none; border-radius: 3px; text-align: center; font-family:$primaryFont;}
    }

    .single_add_to_cart_button{
      margin-left: 20px; font-family: var(--fl1-primary-font); font-weight: bold; font-size: 14px; padding: 12px 24px; display: flex; box-shadow: none; transform: scale3d(1, 1, 1); text-align: center; justify-content: center; align-items: center; border: none; cursor: pointer; line-height: 1; transition: all 0.3s ease;border-radius: 50px; background: var(--fl1-primary); color: #fff; font-size: var(--fl1-font-xs); padding: var(--fl1-spacing-sm) var(--fl1-spacing-md);
    }
  }
}

.product-type-variable, .product-type-simple{
  display: flex;
  @include breakpoint(800px){flex-direction: column;}

  .woocommerce-product-gallery{
    width: 40%; padding: 30px 30px 30px 0; cursor: default; pointer-events: none;
    @include breakpoint(800px){width: 100%; padding: 20px 0;  order: 2;}

    img{
      @include breakpoint(800px){max-width: 350px; margin: 0 auto;}
    }

    .woocommerce-product-gallery__wrapper{
      div{display: none;}
      div:first-child{
        display: block;
      }
    }
  }

  .summary{
    width: 60%;
    padding: var(--fl1-spacing-xl);
    min-width: 335px;
    border: 1px var(--fl1-border) solid;
    border-radius: var(--fl1-border-radius-xl);
    margin: var(--fl1-spacing-xl) 0;
    background: #fff;
    height: 100%;
    @include breakpoint(800px){width: 100%; order: 1; margin-bottom: 10px;}

    h1{
      font-size: 32px; font-weight: 700; color: var(--fl1-text); line-height: 44px;
    }

    .woocommerce-product-details__short-description{
      font-size: 18px; line-height: 1.6; margin: 30px 0;
    }

    form{
      display: flex; flex-direction: column; align-items: flex-start;

      .variations{
        margin-bottom: 50px; width: 100%;

        tr{display: flex; flex-direction: column;
          .label{margin-bottom: 10px;
            label{font-size: 22px; color: $primary; font-weight: 900;}
          }
          .reset_variations{display: none;}

          td{
            select{width: 100%;
              background: #eef0fb; font-size: 16px; color: var(--fl1-text); padding: 10px; border: none; border-radius: 3px; text-align: center; font-family:$primaryFont;
            }
          }
        }
      }

      .single_variation_wrap{
        display: flex; align-items: center; justify-content: flex-end; width: 100%;

        .single_variation{
          .amount{font-size: 18px; font-weight: 900; font-family: $primaryFont;}
        }

        .woocommerce-variation-add-to-cart{
          display: flex; align-items: center; margin-left: 20px;

          .quantity{
            input{width: 60px; background: #eef0fb; font-size: 16px; color: var(--fl1-text); padding: 10px; border: none; border-radius: 3px; text-align: center; font-family:$primaryFont;}
          }

          .single_add_to_cart_button{
            margin-left: 20px; font-family: var(--fl1-primary-font); font-weight: bold; font-size: 14px; padding: 12px 24px; display: flex; box-shadow: none; transform: scale3d(1, 1, 1); text-align: center; justify-content: center; align-items: center; border: none; cursor: pointer; line-height: 1; transition: all 0.3s ease;border-radius: 50px; background: var(--fl1-primary); color: #fff; font-size: var(--fl1-font-xs); padding: var(--fl1-spacing-sm) var(--fl1-spacing-md);
          }
        }
      }
    }

    .product_meta{display: none;}
  }

  .woocommerce-tabs, .related{display: none;}
}

.fc-free-text{
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0!important;
    
    .product {
      border: 1px solid #ddd;
      padding: 20px;
      list-style: none;
      background: white;
      display: flex;
      flex-direction: column;
  
      @include breakpoint(650px){
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
  
      a{
        img{
          @include breakpoint(650px){max-height: 300px; width: auto;}
        }
      }
      
      .woocommerce-loop-product__title {
        font-size: 1.2rem;
        margin: 10px 0;
      }
      
      .price {
        color: $baseFontColor;
        font-weight: bold;
      }
      
      .add_to_cart_button{
        background-color: $primary;
        color: #fff;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        
        &:hover {
          background-color: $secondary;
        }
      } 
    }
  }
}

.wc-variable{
  .wc-variation{
    input[type=radio]+label{
      justify-content: flex-start;
    }
  }
}

// SHIPPING
#calc_shipping_state_field, #calc_shipping_postcode_field, #calc_shipping_city_field{
  input{
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
    text-align: left;
    margin-top: 5px;
    padding: 0 10px;
    font-family: $primaryFont;

    &::placeholder{color: black; font-family: $primaryFont; line-height: 28px;}
  }
}

#calc_shipping_postcode_field{margin-bottom: 10px;}

.shipping-calculator-form{margin-top: 20px; align-items: flex-end; display: flex; flex-direction: column;}

.select2-container .select2-selection--single{margin: 0;}

.select2-container .select2-selection--single .select2-selection__rendered{text-align: left!important;}

// ROYAL MAIL OPTIONS
#shipping_method{
  li{margin-bottom: 15px; display: flex; align-items: flex-start;
    input{margin: 0;}
  }
}

// DIGITAL DOWNLOADS
.edd_download_purchase_form{
  display: flex;
  justify-content: center;
  align-items: center;

  .edd_price_options{margin: 0 20px;
    ul{
      li{line-height: 10px;}
    }
  }

  .edd_download_quantity_wrapper{margin: 0 20px;
    input{
      background-color: #fff;
      border: 1px solid #aaa;
      border-radius: 4px;
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      height: 28px;
      -moz-user-select: none;
      user-select: none;
      -webkit-user-select: none;
      width: 100%;
      text-align: left;
      padding: 0 10px;
      font-family: "Objectivity",sans-serif;
    }
  }

  .edd-add-to-cart, .edd_go_to_checkout{
    font-family: var(--fl1-primary-font);
    font-weight: bold;
    font-size: 14px;
    padding: 12px 24px;
    display: flex;
    box-shadow: none;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    line-height: 1;
    transition: all .3s ease;
    border-radius: 50px;
    background: var(--fl1-primary)!important;
    color: #fff!important;
  }

  .edd_purchase_tax_rate{display: none;}
}

// DOWNLOADS CHECKOUT
#edd_checkout_cart td img{
  width: 50px; min-width: 50px;
}

.edd_cart_item_image{padding-right: 15px;}

.edd_cart_item_name{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edd_cart_actions{
  @include breakpoint(900px){text-align: left!important;}

  input{
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    height: 28px;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
    text-align: left;
    padding: 0 10px;
    font-family: "Objectivity",sans-serif;
    float: left;
  }
}

.edd_cart_remove_item_btn{color: $primary; padding-left: 10px;
  @include breakpoint(800px){padding-left:0!important;}
}

.edd_cart_item_price{min-width: 140px;}

.edd_cart_footer_row{
  background: $primary;

  th{color:white!important; padding: 15px!important;}
}

#edd_purchase_form{
  .edd-payment-icons{display: none!important;}

  .edd-input, select{
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    height: 28px;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    width: 100%!important;
    text-align: left;
    padding: 0 10px;
    font-family: "Objectivity",sans-serif;
  }
}

.StripeElement{height: 28px;}

#edd-purchase-button, .edd-submit, [type=submit].edd-submit{
  background: $primary!important; border: none!important; padding: 15px 30px!important; font-size: 18px!important; float: right;
}

// TEST CENTRE MAPS

#wpsl-result-list li p{
  display: flex;
  flex-direction: column;
}

#wpsl-stores .wpsl-store-thumb{
  min-height: 61px !important;
  min-width: 256px !important;
  margin: 0 0 5px 0!important;
}
