/**

 * CSS3 Animations
 *
*/

/**
 * Fade
*/

// fadeInUp
@keyframes fadeInUp {
    from { opacity: 0; transform: translate3d(0, 10%, 0);}
    to { opacity: 1; transform: none;}
}

// fadeOutUp
@keyframes fadeOutUp {
    from { opacity: 1; transform: translate3d(0, 10%, 0);}
    to { opacity: 0; transform: none;}
}

// fadeInDown
@keyframes fadeInDown {
    from { opacity: 0; transform: translate3d(0, -25%, 0);}
    to { opacity: 1; transform: none;}
}

// fadeOutDown
@keyframes fadeOutDown {
    from { opacity: 1; transform: translate3d(0, -25%, 0);}
    to { opacity: 0; transform: none;}
}

// right
@keyframes fadeInRight {
    from { opacity: .2;transform: translate3d(8%, 0, 0);}
    to { opacity: 1;transform: none}
}

// left
@keyframes fadeInLeft {
    from { opacity: 0; transform: translate3d(-8%, 0, 0);}
    to { opacity: 1;transform: none;}
}

/* Fade in */
@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
