/**
 * Woo Cart
 *
 * @package woocommerce/
 * @version 1.0
*/

body.woocommerce-cart {
    .wc__wrapper {
        &:before {
            content: "Basket";
            font-size: 32px;
            font-weight: 700;
            color: var(--fl1-text);
            display: block;
            margin-bottom: 16px;
        }
        padding: 24px 20px;
    }

    .woocommerce {
        margin: 20px 0;

        .wc-cart-wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .woocommerce-cart-form {
            width: 58%;
            padding: 32px;
            background: var(--fl1-white);
            border-radius: 16px;
            @include breakpoint(papabear) {
                width: 100%;
                padding: 10px;
            }

            table.shop_table {
                thead {
                    th {
                        padding: 10px;
                        &.product-subtotal {
                            text-align: right;
                        }
                    }
                }

                td {
                    vertical-align: middle;
                    // Globals
                    &.product-remove {
                        width: 20px;
                        font-size: 35px;
                        vertical-align: middle;
                        @include breakpoint(mamabear) {
                            width: 30px;
                            font-size: 25px;
                        }

                        a {
                            font-size: 25px;
                            color: darken($border, 10%);
                            font-weight: 200;
                            position: relative;
                            top: 3px;
                            &:hover {
                                color: tomato;
                            }
                        }
                    }

                    &.product-thumbnail {
                        width: 12%;
                        @include breakpoint(mamabear) {
                            width: 30%;
                            align-items: flex-start;
                        }
                    }

                    &.product-name {
                        max-width: 300px;
                        @include breakpoint(mamabear) {
                            flex: 3 0 70%;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            max-width: 100%;
                            &:before {
                                display: block;
                            }
                        }

                        a {
                            font-family: var(--fl1-primary-font);
                            font-size: 17px;
                            color: var(--fl1-text);
                            font-weight: 700;
                            &:hover {
                                color: $primary;
                            }
                        }

                        dl.variation {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            font-size: 13px;
                            margin-top: 10px;
                            dt {
                                flex: 1 0 50%;
                                font-weight: 700;
                            }
                            dd {
                                flex: 1 0 50%;
                                margin-bottom: 10px;
                            }
                        }
                    }

                    &.product-quantity {
                        max-width: 120px;
                        @include breakpoint(mamabear) {
                            max-width: 100%;
                        }

                        .quantity {
                            label {
                                display: none;
                            }
                            input[type="number"] {
                                border: none;
                                padding: 10px;
                                text-align: center;
                                font-size: 16px;
                                color: var(--fl1-text);
                                max-width: 80px;
                                background: $lightgrey;
                                @include breakpoint(mamabear) {
                                    width: 65px;
                                }
                            }
                        }
                    }

                    &.product-price {
                        color: var(--fl1-text);
                        max-width: 135px;
                        @include breakpoint(mamabear) {
                            padding-top: 10px;
                            font-weight: 500;
                            max-width: 100%;
                        }

                        .subscription-details {
                            display: block;
                            font-size: 12px;
                            color: var(--fl1-text);
                            margin-top: 5px;
                        }
                    }

                    &.product-subtotal {
                        font-size: 18px;
                        text-align: right;
                        font-weight: 600;
                        max-width: 150px;
                        color: var(--fl1-text);
                        @include breakpoint(mamabear) {
                            max-width: 100%;
                        }

                        .subscription-price {
                            .subscription-details {
                                display: block;
                                font-size: 12px;
                                color: var(--fl1-text);
                                margin-top: 5px;
                            }
                        }
                    }

                    &.actions {
                        padding: 10px 0;
                        @include breakpoint(sisterbear) {
                            width: 100%;
                        }

                        .coupon {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            padding: 24px 0 16px;
                            width: 100%;
                            border-top: 1px var(--fl1-lightgrey) solid;
                            @include breakpoint(mamabear) {
                                flex-wrap: wrap;
                                padding: 10px 0;
                            }

                            label {
                                font-size: 13px;
                                font-weight: 700;
                            }

                            input[type="text"] {
                                border: none;
                                padding: 12px 16px;
                                width: auto;
                                font-size: 12px;
                                color: var(--fl1-text);
                                margin: 0 10px 0 5px;
                                font-family: var(--fl1-primary-font);
                                background: var(--fl1-primary-light);
                                border-radius: 8px;
                                @include breakpoint(sisterbear) {
                                    flex: 1 0 auto;
                                    margin-right: 0;
                                }
                            }

                            // button,
                            // input[type="submit"] { font-size: 14px; padding: 10px 23px; display: block; cursor: pointer; border: none; background: $primary; color: #fff; font-family: var(--fl1-primary-font); transition: all .4s ease; text-transform: uppercase; margin-left: auto;
                            //     &:hover { background: lighten($primary, 5%); transition: all .4s ease;}

                            //     @include breakpoint(sisterbear) { flex:1 0 100%; margin: 10px 0 0;}
                            // }
                        }

                        button,
                        input[type="submit"] {
                            font-size: 14px;
                            padding: 10px 23px;
                            display: block;
                            cursor: pointer;
                            border: none;
                            background: var(--fl1-lightgrey);
                            color: var(--fl1-text);
                            font-family: var(--fl1-primary-font);
                            transition: all 0.4s ease;
                            margin-left: auto;
                            @include breakpoint(sisterbear) {
                                flex: 1 0 100%;
                                margin: 10px 0 0;
                            }
                        }
                    }
                }

                @include breakpoint(mamabear) {
                    .product-price,
                    .product-quantity,
                    .product-subtotal {
                        flex: 1 0 100%;
                        &:before {
                        }
                    }
                }
            }
        }

        .cart-collaterals {
            width: 40%;
            padding: 32px;
            background: var(--fl1-white);
            border-radius: 16px;
            @include breakpoint(papabear) {
                width: 100%;
                padding: 10px;
                border: none;
            }

            .cart_totals {
                position: sticky;
                top: 20px;
                h2 {
                    font-size: 20px;
                    color: var(--fl1-text);
                    font-weight: 700;
                    margin-bottom: 20px;
                    padding: 6px 10px 10px;
                }

                table.shop_table {
                    tbody {
                        tr {
                            @include breakpoint(mamabear) {
                                padding: 0;
                            }

                            th {
                                width: 40%;
                                padding: 10px;
                                text-align: left;
                                vertical-align: middle;
                                font-weight: 600;
                                @include breakpoint(mamabear) {
                                    border: none;
                                }
                            }

                            td {
                                width: 60%;
                                text-align: right;
                                @include breakpoint(mamabear) {
                                    display: table-cell;
                                    vertical-align: middle;
                                    padding: 10px;
                                    &:before {
                                        display: none;
                                    }
                                }

                                span.amount {
                                    color: var(--fl1-text);
                                    font-weight: 600;
                                }
                            }

                            &.cart-subtotal {
                                &.recurring-total {
                                    td {
                                        font-size: 14px;
                                        color: var(--fl1-text);
                                        span.amount {
                                            font-size: 16px;
                                            color: var(--fl1-text);
                                            font-weight: 600;
                                            display: block;
                                        }
                                    }
                                }
                            }

                            &.shipping {
                                .woocommerce-shipping-destination {
                                    font-size: 12px;
                                }
                            }

                            &.recurring-totals {
                                th {
                                    color: $primary;
                                    font-weight: 700;
                                    font-size: 18px;
                                    padding-top: 20px;
                                    border-bottom: none;
                                }
                            }

                            &.order-total {
                                strong {
                                    font-size: 24px;
                                    font-weight: 600;
                                    color: var(--fl1-text);
                                }
                                span.amount {
                                    color: var(--fl1-text);
                                    font-weight: 700;
                                }

                                &.recurring-total {
                                    td {
                                        font-size: 14px;
                                        color: var(--fl1-text);
                                        strong {
                                            display: block;
                                            font-size: 24px;
                                            font-weight: 600;
                                            color: var(--fl1-text);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .wc-proceed-to-checkout {
                    margin: 20px 0;
                    .button {
                        font-family: var(--fl1-primary-font);
                        background: var(--fl1-primary);
                        color: #fff;
                        font-size: 16px;
                        font-weight: 800;
                        padding: 20px 40px;
                        border: none;
                        cursor: pointer;
                        transition: all 0.4s ease;
                        margin-left: auto;
                        width: 100%;
                        display: block;
                        text-align: center;
                    }
                }

                .wc__continue__shopping {
                    margin: 0 0 10px;
                    a {
                        font-size: 16px;
                        padding: 15px 20px;
                        display: block;
                        cursor: pointer;
                        background: var(--fl1-lightgrey);
                        color: var(--fl1-text);
                        border: none;
                        font-family: var(--fl1-primary-font);
                        transition: all 0.4s ease;
                        font-weight: 700;
                        text-align: center;
                        border-radius: 50px;
                        &:hover {
                            background: darken($lightgrey, 5%);
                            transition: all 0.4s ease;
                        }

                        @include breakpoint(sisterbear) {
                            flex: 1 0 100%;
                            margin-top: 0;
                        }
                    }
                }
            }
        }

        .wc__empty__basket {
            flex: 1 0 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: var(--fl1-white);
            padding: 24px;
            border-radius: var(--fl1-border-radius-m);
            margin: 24px 0 0;
            @include breakpoint(brotherbear) {
                flex-direction: column;
            }

            .message {
                display: flex;
                align-items: center;
                @include breakpoint(brotherbear) {
                    flex-direction: column;
                }

                figure {
                    margin-right: 10px;
                    @include breakpoint(brotherbear) {
                        margin: 0 0 10px;
                    }

                    i {
                        font-size: 21px;
                        color: $primary;
                    }
                }

                p {
                    font-size: 14px;
                    text-align: center;
                    font-weight: 600;
                    color: var(--fl1-text);
                }
            }

            &--buttons {
                display: flex;
                align-items: center;
                @include breakpoint(brotherbear) {
                    margin-top: 20px;
                }
                a,
                button {
                    margin-left: 10px;
                }
            }

            // a {
            //     @include breakpoint(brotherbear) { margin-top: 20px;}

            //     &:hover { background: darken($text, 2%); transition: all .3s ease; box-shadow: 0 2px 5px rgba(0,0,0,0.2)}
            // }
        }

        p.return-to-shop {
            flex: 1 0 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
            .wc-backward {
                font-size: 14px;
                font-weight: 800;
                padding: 10px 23px;
                display: block;
                text-transform: uppercase;
                cursor: pointer;
                background: $text;
                color: #fff;
                transition: all 0.4s ease;
                text-align: center;
                &:hover {
                    background: darken($text, 2%);
                    transition: all 0.3s ease;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                }

                @include breakpoint(sisterbear) {
                    flex: 1 0 100%;
                    margin-top: 10px;
                }
            }
        }

        p.cart-empty {
            display: none;
        }
    }
}
