.woocommerce-form-login-toggle {
    display: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.09);
    background: #fff;
    border-radius: var(--fl1-border-radius-m);
    flex: 0 1 100%;
    @include breakpoint(papabear) {
        flex: 1 0 auto;
    }

    .woocommerce-info { 
        margin-bottom: 0;
    }
}

form.woocommerce-form-login {
    margin-top: 8px;
    background: #fff;
    padding: 32px;
    border-radius: var(--fl1-border-radius-m);
    display: flex;
    flex-wrap: wrap;
    border: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.09);
    @include breakpoint(papabear) {
        margin: 10px 10px 0;
    }
    @include breakpoint(mamabear) {
        flex-direction: column;
    }

    p {
        font-size: 14px;
        line-height: 25px;
        &:first-of-type {
            flex: 1 0 100%;
            margin-bottom: 20px;
            line-height: 22px;
            font-size: 15px;
        }

        &.form-row {
            width: 50%;
            padding-right: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include breakpoint(mamabear) {
                width: 100%;
                padding-right: 0;
            }

            label {
                display: block;
                font-size: 14px;
                font-weight: 700;
                line-height: 25px;
                color: $text;
                padding-bottom: 5px;
                align-self: flex-start;
                &.woocommerce-form__label-for-checkbox {
                    display: none;
                }

                .required {
                    color: tomato;
                }
            }

            input[type="text"],
            input[type="password"],
            select {
                border: none;
                padding: 15px 10px;
                width: auto;
                font-size: 16px;
                font-weight: 400;
                color: $text;
                width: 100%;
                border-bottom: 1px $text solid;
                border-radius: none;
                @include breakpoint(sisterbear) {
                    width: 90%;
                }
                @include breakpoint(mamabear) {
                    width: 100%;
                }
            }

            button,
            input[type="submit"] {
                font-family: var(--fl1-primary-font);
                background: $primary;
                color: #fff;
                font-size: 17px;
                font-weight: 800;
                padding: 13px 40px 11px;
                border: none;
                cursor: pointer;
                transition: all 0.4s ease;
                text-align: center;
                justify-content: center;
                margin-top: 20px;
                &:hover {
                    background: lighten($primary, 3%);
                    transition: all 0.4s ease;
                }
            }

            &.form-row-first,
            &.form-row-last {
                flex-direction: column;
            }
        }

        &.lost_password {
            display: flex;
            align-items: center;
            a {
                color: $primary;
            }
        }
    }

    div.clear {
        display: none;
    }
}