// add to cart
.wc-single-product--add-to-cart {
    padding: 20px 0 16px;

    .wc-simple {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        margin-bottom: 10px;

        h3 {
            font-size: 16px;
            font-weight: 700;
            color: var(--fl1-text);
        }

        .wc-simple-qty {
            input {
                background: $lightgrey;
                font-size: 16px;
                color: var(--fl1-text);
                padding: 10px;
                width: 60px;
                border: none;
                border-radius: 3px;
                text-align: center;
            }
        }

        .simple-price{
            font-weight: 600; padding-left: 40px; font-size: 18px;
        }
    }

    .wc-variable {
        width: 100%;
        h4 {
            font-size: 20px;
            color: $primary;
            margin-bottom: 5px;
            font-weight: 700;
        }
        p {
            font-size: 14px;
            color: $text;
            margin-bottom: 30px;
        }

        .wc-variation {
            padding-bottom: 10px;
            margin-bottom: 10px;
            @include pretty-checkradio(label, "\f111", "\f058");

            label {
                display: flex; 
                justify-content: flex-start;
                font-weight: 600;
                
                .wc-variation-meta {
                    width: 80px;
                    padding-right: 40px;
                    color: var(--fl1-text);

                    span {
                        &.price {
                            display: block;
                            font-weight: 700;
                            color: $secondary;
                        }
                        &.subscription-details {
                            font-weight: 400;
                            color: $text;
                            font-size: 12px;
                        }
                        &.variation-description {
                            font-weight: 400;
                            color: $text;
                            font-size: 12px;
                            display: block;
                        }
                    }
                }

                .wc-variation-quantity {
                    input {
                        background: $lightgrey;
                        font-size: 16px;
                        color: var(--fl1-text);
                        padding: 10px;
                        width: 60px;
                        border: none;
                        border-radius: 3px;
                        text-align: center;
                        font-family: $primaryFont;
                    }
                }

                .variation-price{
                    padding-left: 40px; font-size: 18px;
                }
            }

            &.wc-out-of-stock {
                label {
                    opacity: 0.2;
                    pointer-events: none;
                }
            }

            &.terms {
                background: $lightgrey;
                border-radius: 3px;
                padding: 20px;
                a {
                    font-weight: 700;
                    color: $primary;
                    border-bottom: 1px $primary dashed;
                }
            }
        }
    }

    .woocommerce-variation-add-to-cart {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include breakpoint(sisterbear) {
            margin-left: 0;
            margin-top: 20px;
        }
    }

    .single_variation_wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px darken($lightgrey, 5%) solid;
        padding-top: 20px;
        @include breakpoint(sisterbear) {
            flex-direction: column;
        }
        .woocommerce-variation {
            flex: 1;
        }
    }

    .wc-add-to-cart--button {
        display: flex;
        align-items: flex-start;
		gap: var(--fl1-spacing-m);
        width: 100%;
        flex-direction: column;

        @include breakpoint(sisterbear) {
            align-items: center;
        }

		.wc-single-product--price {
            margin: 20px 0;

			.woocommerce-Price-amount {
				font-size: 24px;
				color: $baseFontColor;
			}
		}

        .single_add_to_cart_button,
        .wc-add-to-cart-button {
            font-family: $primaryFont;
            background: $primary;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            padding: 18px 32px 14px;
            border: none;
            cursor: pointer;
            transition: all 0.4s ease;
            text-align: center;
            justify-content: center;
            @include breakpoint(sisterbear) {
                margin: 20px auto 0;
                min-width: 100%;
            }

            &:hover {
                background: lighten($primary, 3%);
                transition: all 0.4s ease;
            }

            i{padding-left: 10px;}
        }

        .wc-add-to-wishlist {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: $primary;

            i {
                font-size: 16px;
                color: $primary;
                margin-right: 8px;
            }

            &:hover { 
                i { 
                    animation: pulse 1s infinite;
                }
            }
        }
    }

    // continue
    .wc-continue {
        display: flex;
        justify-content: space-between;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        max-height: 0;
        &.on {
            visibility: visible;
            opacity: 1;
            transition: all 0.3s ease;
            padding: 20px 0 0;
            max-height: 60px;
        }

        a {
            font-family: $primaryFont;
            font-size: 14px;
            font-weight: 800;
            padding: 23px 20px;
            border: none;
            cursor: pointer;
            transition: all 0.4s ease;
            min-width: 48%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;

            i {
                margin-right: 7px;
            }

            &.view-cart {
                color: var(--fl1-primary);
                border: 1px var(--fl1-primary) solid;
            }

            &.go-to-checkout {
                background: $text;
                color: #fff;
                &:hover {
                    background: lighten($text, 3%);
                }
            }
        }
    }

    // variations form
    &.variations_form {
        flex-direction: column;
        width: 100%;
        table.variations {
            width: 100%;
            tbody {
                tr {
                    td {
                        padding: 10px;
                        &.label {
                            font-size: 14px;
                            font-weight: 700;
                            color: $text;
                            text-transform: uppercase;
                        }

                        &.value {
                            select {
                                border: none;
                                padding: 15px 10px;
                                width: auto;
                                font-family: $primaryFont;
                                font-size: 16px;
                                width: 100%;
                                font-weight: 400;
                                color: lighten($text, 10%);
                                background: $lightgrey;
                                width: 100%;
                                appearance: none;
                                border-radius: 0;
                                background-image: url("modules/woocommerce/img/select-arrow-down.png");
                                background-size: 25px;
                                background-position: center right;
                                background-repeat: no-repeat;
                            }

                            a.reset_variations {
                                display: block;
                                padding: 5px 10px;
                                background-color: tomato;
                                border-radius: 3px;
                                color: #fff;
                                float: right;
                                margin-top: 10px;
                                font-size: 12px;
                                font-weight: 700;
                                &:hover {
                                    background-color: lighten(tomato, 5%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // add to cart form
    .wc-add-to-cart--form {
        flex-direction: column;
        width: 100%;
    }

    // notices
    .wc-add-to-cart-notice {
        display: none;
        padding: 12px;
        border-radius: 3px;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        margin-top: 20px;
        border: 1px transparent solid;
        &.display {
            display: block;
            animation: fadeInUp 0.3s ease-in;
        }

        &.has-errors {
            display: block;
            border: 1px lighten(tomato, 25%) solid;
            color: tomato;
        }
        &.success {
            display: block;
            border: 1px lighten($success, 25%) solid;
            color: $success;
        }
    }
}
